{% extends 'base.html' %}
{% block title %} Edit Post {% endblock %}

{% block content %}
<div class="edit"></div>
<h3 style="font-weight: bold;">Edit Post</h3>
<form method="POST" action="{{url_for('edit_post',id=post.id)}}">
<label for="title">Title</label>
<input type="text" name="title" id="title" placeholder="Enter Title" value="{{ post.title }}">
<br>
<br>
<label for="author">Author</label>
<input type="text" name="author" id="author" placeholder="Enter Author" value="{{post.author}}">
<br>
<br>
<label for="content">Content</label>
<textarea type="text" name="content" id="content" placeholder="Enter Content">{{post.content}}</textarea>
<br>
<br>
<input type="submit" value="Update">
</form>
{% endblock %}